@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 50%;
  text-align: center;
  background-color: #c8ca50;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 1rem 5rem;
  box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.3);
}

.container input {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  border: none;
  width: 70%;
}

.container h1 {
  margin: 1.5rem;
}

.container button {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.container button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  font-size: 1.5rem;
}

.container-list ul {
  min-width: 100%;
  list-style: none;
}

.todo {
  display: flex;
  margin: 0.5rem;
  padding: 0.3rem;
  background-color: #4e6cc7;
  border-radius: 5px;
  font-size: 1.5rem;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
  margin: 0.5rem;
}

.todo button {
  height: 100%;
  margin: 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.line-through {
  text-decoration: line-through;
  background-color: rgba(0, 0, 0, 0.5);
}

.fall {
  transform: translateY(10rem) rotateZ(35deg);
  opacity: 0;
}

/*device screen*/

@media only screen and (max-width: 400px) {
  .container {
    padding: 0;
    margin: auto 1rem;
  }

  .todo {
    font-size: 1rem;
    padding: 0;
  }
}
